body{
	background-color: #F5E574; 
} 

p{
	color: #2E7CF5;
	font-size: 20px;
} 

h1{
	color: #2E7CF5;
	font-size: 50px; 
	font: Oswald;
	
} 

h2{
	color: #2E7CF5;
	font-size: 40px;
} 

h3{
	color:  #2E7CF5;
	font-size: 30px;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E7CF5;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}




.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2vh;
	border: 1px black solid;
} 

.headerbody{
   padding: 1em;
   grid-column-start:1;
   grid-column-end: span 1;
   border: 10px #2E7CF5 solid;
} 


.leftsidebar{
	
	padding: 1em;
	grid-column-start:1;
	grid-column-end: span 1;
	border: 10px #2E7CF5 solid;
} 
	


.rightsidebar{
	padding: 1em;
	grid-column-start:2;
	grid-column-end: span 1;
	border: 10px #2E7CF5 solid;
} 

.footerbody{
	
	padding: 1em;
	grid-column-start:3;
	grid-column-end: span 1;
	border: 10px #2E7CF5 solid;
} 

.border{
	border: 10px #2E7CF5 solid; 
} 

.red{
	padding: 1em;
	grid-column-start:2;
	grid-column-end: span 1;
	border: 10px #2E7CF5 solid;
} 

.orange{
	padding: 1em;
	grid-column-start:3;
	grid-column-end: span 1;
	border: 10px #2E7CF5 solid;
} 


img{
width: 550px;
height: 550px; 
} 

.yellow{
	padding: 1em;
   grid-column-start:1;
   grid-column-end: span 1;
   border: 10px #2E7CF5 solid;
} 

.green{
	padding: 1em;
	grid-column-start:3;
	grid-column-end: span 1;
	border: 10px #2E7CF5 solid;
} 

.teal{
	padding: 1em;
	grid-column-start:2;
	grid-column-end: span 2;
	border: 10px #2E7CF5 solid;
} 
	
	

	
